body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
  .right {
    text-align: right;
    margin-left: 450px;
    margin-right: 10px;
  }